<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Eurogrue Maroc</h2>
                </div>
                <div class="about-content">
                    <p>Depuis sa création en 2006, Eurogrues Maroc s’est forgé au fil des années une réputation de service et de fiabilité. Leader national dans le levage, la manutention et les transports spéciaux, Eurogrues Maroc vous apporte des solutions sur mesure en adéquation avec vos besoins et ce dans le respect des règles de sécurité.  <br>Notre principale préoccupation est de former un personnel qualifié et expérimenté. Nous travaillons tous les jours sur l’amélioration de nos processus de travail, de la qualité et de la sécurité de nos prestations.  <br>Nous œuvrons tous pour gagner et conserver l’expérience de nos partenaires.  <br>Dotés d’un parc de grues en très bon état, des camions, nacelles, chariots élévateurs, d’un matériel de manutention performant, et assistés d’un bureau d’étude, nous détenons votre solution. </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
