<section class="portfoilo-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>Projets Réalisés</h2>
                    <p>Notre entreprise propose ses services dans tout le Maroc. C’est ainsi, qu’elle a développé une solide réputation. Certaines sociétés n’hésitent pas à placer leur confiance en notre équipe.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <div class="portfolio-menu mb-55">
                  <button class="active" data-filter="*">all</button>
                  <button class="p-item" data-filter=".cat-one">Industrie</button>
                  <button class="p-item" data-filter=".cat-two">Énergie</button>
                  <button class="p-item" data-filter=".cat-three">Éolien</button>
                  <button class="p-item" data-filter=".cat-four">Ingénierie Civile</button>
                  <button class="p-item" data-filter=".cat-five">Construction</button>

              </div>
            </div>
        </div>
        <div class="row portfolio-active">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">RAFFINERIE SAMIR- MAROC</a></h5>
                        <span>Élévation et transport d’une colonne de distillation atmosphérique. Poids 276t, 53m de long et 6m de diamètre</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-one">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">OCP – JORF LASFAR</a></h5>
                        <span>Pose deux morceaux de sécheur 1er 147T et 2éme 110T</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-one cat-five">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/3.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">OCP – JORF LASFAR</a></h5>
                        <span>Levage d’une pièce de 170 Tonnes</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/4.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">UNIVERSITE MOHAMMED VI -RABAT</a></h5>
                        <span>La pose de poutre préfabriquée</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three cat-one">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/5.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">OCP JORF LASFAR</a></h5>
                        <span>Levage d’une citerne de 140 Tonnes</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-five">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/6.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">CHANTIER NAVAL DE CASABLANCA</a></h5>
                        <span>La construction du nouveau chantier naval de Casablanca</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
