<section class="service-area grey-bg pb-70 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title service-title">
                    <h2>Nos solutions</h2>
                    <p>Leader national sur le marché de l’ingénierie du levage, de la manutention et des transports spéciaux,
                      EUROGRUES MAROC, est aussi l’unique Opérateur National certifié aux normes ISO 9001 v 2015, ISO 14001 V 2015 et OHSAS 18001
                      Nous vous offrons les prestations suivantes :</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in site.services %}
            <div class="col-lg-4 col-md-6 text-center mb-30">
                <div class="features-wrap">
                    {% if service.icon %}
                    <div class="features-icon">
                        <img src="{{service.icon}}" alt="{{service.title}}">
                    </div>
                    {% endif %}
                    <h4>{{service.title}}</h4>
                    <p>{{service.description}}</p>
                    <a href="{{service.url}}">Plus</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
