<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                          Implication, expertise, réactivité… L’état d’esprit qui nous anime, prend tout son sens dans la relation que nous allons développer ensemble.<br>
                          Spécialiste de la location des Grues mobiles, sur chenilles, transports spéciaux et nacelles, nous disposons d’une longue expérience dans le domaine du Levage et de la Manutention. Fort de cette expertise, nous saurons vous garantir un service adapté à vos besoins : du matériel de qualité, une équipe d’experts dédiée à la gestion des machines (contrôles, entretien etc.), un service d’ingénierie de levage pour vous accompagner durant vos projets et toujours, un interlocuteur commercial unique pour vous accompagner.<br>
                          Je m’engage au nom de mon équipe, à tout mettre en oeuvre pour vous offrir le meilleur service et être à la hauteur de votre confiance !
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/01.jpg" class="img-fluid" alt="">
                        <h4>José Antonio Moreno Ortega</h4>
                        <span>Directeur général</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
